---
name: Unit tests
on:
  workflow_call:
    inputs:
      python-version:
        required: false
        type: string
        description: Python version to use
        default: 3.x
      runs-on:
        required: false
        type: string
        description: Runner to use
        default: ubuntu-latest
  workflow_dispatch:
    inputs:
      python-version:
        required: false
        type: string
        description: Python version to use
        default: 3.x
      runs-on:
        required: false
        type: string
        description: Runner to use
        default: ubuntu-latest
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  unit-tests:
    permissions:
      contents: read
    runs-on: ${{ inputs.runs-on }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: ${{ inputs.python-version || '3.x' }}
      - name: Install UV
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41  # v7.2.1
        with:
          enable-cache: true
      - name: Install packages
        run: |
          uv sync --all-extras
      - name: Run unit tests using pytest
        run: |
          uv run pytest
