---
name: Unit tests
on:
  workflow_call:
    inputs:
      python-version:
        required: false
        type: string
        description: Python version to use
        default: 3.x
      runs-on:
        required: false
        type: string
        description: Runner to use
        default: ubuntu-latest
  workflow_dispatch:
    inputs:
      python-version:
        required: false
        type: string
        description: Python version to use
        default: 3.x
      runs-on:
        required: false
        type: string
        description: Runner to use
        default: ubuntu-latest
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  unit-tests:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
        with:
          python-version: ${{ inputs.python-version || '3.x' }}
      - name: Install UV
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install packages
        run: |
          uv sync --all-extras
      - name: Run unit tests using pytest
        run: |
          uv run pytest
